page-login {

}
.login-content{
  // background-color: #DB7093;
  // background-color: #FDFDFD;
  background-image: url("../../assets/imgs/login_topography.png");
  background-color: transparent;
  align-content: center;
  // height: 100% !important;
}
