.listDisplay{
  width: 100% !important;
}

.attendacne-row-1 {
  display: flex !important;
  width: 100% !important;
  // height: 25% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: fixed;
  top: 0px;
}
.attendacne-row-2 {

}

.attendance-slide {
  align-content: center !important;
}
.attendacne-col-1{
  width: 100% !important;
  // float:left !important;
}
.attendacne-col-2{
  width: 100% !important;
  // float: right !important;
}
.attendance-img{
  background: transparent !important;
  width: 81px;
  height: 81px;
}
