.listClass{

width: 90%;
margin-right: 50% !important;
    // border-bottom: 1px inset !important;
    // border-color: #3f2b96 !important;

}
.displayLabel{
  text-align: right !important;
  padding-right: 13px;
}
