<ion-list>
  <h1>{{students}}</h1>
  <div *ngFor="let student of students">
    <ion-item class="itemClass">
      <ion-label>{{student.id}} {{student.first_name}} {{student.last_name}}</ion-label>
      <ion-toggle  checked="{{attendance[student.id]}}" ></ion-toggle>
    </ion-item>
</div>
</ion-list>



<ion-list>
  <button (click)="markTrue()" >
    True
  </button>

  <button (click)="markFalse()" >
      False

    </button>
    <button (click)="reloadAttendance()" >
      Reload

    </button>
    <button (click)="submitAttendance()" >
      Submit

    </button>

</ion-list>
