<ion-content padding class="login-slider-main">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-bottom style="height: 80%;">
      <ion-slides pager="true">
        <ion-slide>
          <ion-img style="background: transparent !important;  bottom:35%" width="200" height="200" src="../../assets/imgs/rocket_200.png"></ion-img>
          <p>Some fucking text goes here!!</p>
        </ion-slide>
        <ion-slide>
          <ion-img style="background: transparent !important;  bottom:35%" width="200" height="200" src="../../assets/imgs/chemistry_200.png"></ion-img>
          <p>Another fucking test</p>
        </ion-slide>
        <ion-slide>
          <ion-img style="background: transparent !important;  bottom:35%" width="200" height="200" src="../../assets/imgs/last_icon_200.png"></ion-img>
          <p>How your child becoms superhero using this app!!</p>
        </ion-slide>
      </ion-slides>
      <email-login></email-login>
    </ion-row>
  </ion-grid>
</ion-content>